n8n 1
{
  "name": "AI Video Director v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-gen-v2",
        "options": {
          "rawBody": true
        },
        "responseMode": "lastNode"
      },
      "id": "node-1",
      "name": "1. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 460],
      "webhookId": "video-gen-v2"
    },
    {
      "parameters": {
        "jsCode": "/*\n  Парсинг входных данных из FormData webhook.\n  Извлекаем JSON payload и файлы.\n*/\nconst items = $input.all();\nconst item = items[0];\n\nlet payload;\ntry {\n  // FormData: payload приходит как строка в поле 'payload'\n  const raw = item.json.payload || item.json.body?.payload || JSON.stringify(item.json);\n  payload = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch(e) {\n  payload = item.json;\n}\n\n// Извлекаем ключи\nconst apiKey = payload.apiKey || '';\nconst minimaxKey = payload.minimaxKey || '';\nconst supabaseUrl = 'https://supabase.fantomnatashi.ru';\n\n// Собираем данные о персонажах\nconst characters = (payload.characters || []).map(c => ({\n  index: c.index,\n  name: c.name,\n  description: c.description,\n  voiceId: c.voiceId,\n  voiceMode: c.voiceMode,\n  wardrobeMode: c.wardrobeMode,\n  wardrobeDesc: c.wardrobeDesc,\n  hasFacePhoto: c.hasFacePhoto,\n  hasVideoRef: c.hasVideoRef\n}));\n\n// Собираем сцены\nconst scenes = (payload.scenes || []).map(sc => ({\n  index: sc.index,\n  duration: sc.duration || 10,\n  angle: sc.angle || 'medium',\n  characters: sc.characters || [],\n  dialog: sc.dialog || '',\n  action: sc.action || '',\n  notes: sc.notes || ''\n}));\n\n// Собираем все диалоги из всех сцен\nconst allDialogs = [];\nscenes.forEach(sc => {\n  if (!sc.dialog) return;\n  sc.dialog.split('\\n').filter(l => l.trim()).forEach(line => {\n    const ci = line.indexOf(':');\n    if (ci > 0) {\n      const name = line.slice(0, ci).trim();\n      const text = line.slice(ci+1).trim();\n      if (text) {\n        // Найти voiceId по имени персонажа\n        const char = characters.find(c => c.name && c.name.toLowerCase() === name.toLowerCase());\n        allDialogs.push({\n          sceneIndex: sc.index,\n          name: name,\n          text: text,\n          voiceId: char?.voiceId || characters[0]?.voiceId || null\n        });\n      }\n    }\n  });\n});\n\nreturn [{\n  json: {\n    apiKey,\n    minimaxKey,\n    supabaseUrl,\n    payload,\n    characters,\n    scenes,\n    allDialogs,\n    videoModel: payload.videoGeneration?.model || 'seedance-2.0',\n    aspectRatio: payload.videoGeneration?.aspectRatio || '16:9',\n    quality: payload.videoGeneration?.quality || 'standard',\n    ttsModel: payload.tts?.model || 'speech-2.8-hd',\n    ttsSpeed: payload.tts?.speed || 1,\n    useRefAsScene0: payload.useRefAsScene0 || false,\n    location: payload.location || {},\n    music: payload.music || {},\n    brief: payload.brief || ''\n  }\n}];"
      },
      "id": "node-2",
      "name": "2. Парсинг данных",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Загрузка файлов персонажей в Supabase Storage.\n  Получаем публичные URL для фото и видео.\n*/\nconst data = $input.first().json;\nconst supaUrl = data.supabaseUrl;\nconst items = $('1. Webhook').all();\nconst item = items[0];\n\n// Получаем SERVICE_ROLE_KEY из env\nconst sKey = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nconst fileUrls = {};\nconst charCount = data.characters.length;\n\n// Ищем бинарные данные в webhook\nconst binData = item.binary || {};\n\nfor (let i = 1; i <= charCount; i++) {\n  fileUrls[i] = { faceUrl: '', videoUrl: '' };\n  \n  // Фото лица\n  const faceKey = `char${i}_face`;\n  if (binData[faceKey]) {\n    const bin = binData[faceKey];\n    const ext = bin.fileExtension || 'jpg';\n    const path = `faces/char${i}_${Date.now()}.${ext}`;\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${supaUrl}/storage/v1/object/avd-files/${path}`,\n        headers: {\n          'Authorization': `Bearer ${sKey}`,\n          'apikey': sKey,\n          'Content-Type': bin.mimeType || 'image/jpeg'\n        },\n        body: Buffer.from(bin.data, 'base64'),\n        returnFullResponse: false\n      });\n      fileUrls[i].faceUrl = `${supaUrl}/storage/v1/object/public/avd-files/${path}`;\n    } catch(e) {\n      fileUrls[i].faceUrl = '';\n    }\n  }\n  \n  // Видео-референс\n  const vidKey = `char${i}_video`;\n  if (binData[vidKey]) {\n    const bin = binData[vidKey];\n    const ext = bin.fileExtension || 'mp4';\n    const path = `videos/char${i}_${Date.now()}.${ext}`;\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${supaUrl}/storage/v1/object/avd-files/${path}`,\n        headers: {\n          'Authorization': `Bearer ${sKey}`,\n          'apikey': sKey,\n          'Content-Type': bin.mimeType || 'video/mp4'\n        },\n        body: Buffer.from(bin.data, 'base64'),\n        returnFullResponse: false\n      });\n      fileUrls[i].videoUrl = `${supaUrl}/storage/v1/object/public/avd-files/${path}`;\n    } catch(e) {\n      fileUrls[i].videoUrl = '';\n    }\n  }\n}\n\n// Обновляем данные персонажей с URL\nconst updatedChars = data.characters.map(c => ({\n  ...c,\n  faceUrl: fileUrls[c.index]?.faceUrl || '',\n  videoUrl: fileUrls[c.index]?.videoUrl || ''\n}));\n\nreturn [{\n  json: {\n    ...data,\n    characters: updatedChars,\n    fileUrls\n  }\n}];"
      },
      "id": "node-3",
      "name": "3. Загрузка файлов в Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Разбиваем диалоги на отдельные элементы для TTS.\n*/\nconst data = $input.first().json;\nconst dialogs = data.allDialogs || [];\n\nif (dialogs.length === 0) {\n  return [{ json: { ...data, ttsResults: [], skipTTS: true } }];\n}\n\nreturn dialogs.map((d, i) => ({\n  json: {\n    _dialogIndex: i,\n    _totalDialogs: dialogs.length,\n    name: d.name,\n    text: d.text,\n    voiceId: d.voiceId,\n    sceneIndex: d.sceneIndex,\n    minimaxKey: data.minimaxKey,\n    ttsModel: data.ttsModel,\n    ttsSpeed: data.ttsSpeed,\n    supabaseUrl: data.supabaseUrl,\n    _parentData: data\n  }\n}));"
      },
      "id": "node-4",
      "name": "4. Split диалогов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.skipTTS }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-5",
      "name": "5. Есть диалоги?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimax.io/v1/t2a_v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.minimaxKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.ttsModel || 'speech-2.8-hd', text: $json.text, stream: false, language_boost: 'Russian', output_format: 'url', voice_setting: { voice_id: $json.voiceId || 'Russian_BrightHeroine', speed: $json.ttsSpeed || 1, vol: 1, pitch: 0 }, audio_setting: { sample_rate: 32000, bitrate: 128000, format: 'mp3', channel: 1 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-6",
      "name": "6. TTS — MiniMax",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 360]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Собираем URL аудио из TTS и сохраняем в Supabase.\n*/\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const audioUrl = item.json?.data?.audio || '';\n  const parentData = item.json?._parentData || $('3. Загрузка файлов в Supabase').first().json;\n  \n  results.push({\n    dialogIndex: item.json?._dialogIndex || 0,\n    sceneIndex: item.json?.sceneIndex || 0,\n    name: item.json?.name || '',\n    text: item.json?.text || '',\n    audioUrl: audioUrl\n  });\n}\n\n// Получаем основные данные из ноды 3\nconst data = $('3. Загрузка файлов в Supabase').first().json;\n\nreturn [{\n  json: {\n    ...data,\n    ttsResults: results\n  }\n}];"
      },
      "id": "node-7",
      "name": "7. Сборка TTS результатов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 360]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Если диалогов нет — пропускаем TTS, передаём данные дальше.\n*/\nconst data = $('3. Загрузка файлов в Supabase').first().json;\nreturn [{ json: { ...data, ttsResults: [] } }];"
      },
      "id": "node-8",
      "name": "8. Пропуск TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 560]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByPosition": true,
        "options": {}
      },
      "id": "node-9",
      "name": "9. Merge TTS",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1760, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Подготовка видеозапросов — один запрос на каждую сцену.\n  Каждая сцена получает свой промпт с ракурсом, персонажами, действиями.\n*/\nconst data = $input.first().json;\nconst scenes = data.scenes || [];\nconst chars = data.characters || [];\nconst location = data.location || {};\n\nconst anglesMap = {\n  'close-up': 'close-up shot',\n  'medium': 'medium shot',\n  'wide': 'wide establishing shot',\n  'over-shoulder': 'over-the-shoulder shot',\n  'two-shot': 'two-shot'\n};\n\nconst lightMap = {\n  'natural': 'natural daylight',\n  'warm': 'warm candlelight',\n  'cold': 'cool blue lighting',\n  'dramatic': 'dramatic high-contrast lighting',\n  'soft': 'soft diffused lighting'\n};\n\nconst colorMap = {\n  'warm': 'warm color palette',\n  'cold': 'cool color palette',\n  'neutral': 'neutral color palette',\n  'cinematic': 'cinematic color grading'\n};\n\nreturn scenes.map((sc, i) => {\n  // Собираем промпт для сцены\n  const parts = [];\n  \n  // Описание действия\n  if (sc.action) parts.push(sc.action);\n  \n  // Персонажи в сцене\n  const sceneChars = sc.characters.map(ci => chars.find(c => c.index === ci)).filter(Boolean);\n  if (sceneChars.length) {\n    const charDesc = sceneChars.map(c => {\n      let d = c.name;\n      if (c.description) d += ` (${c.description})`;\n      if (c.wardrobeMode === 'change' && c.wardrobeDesc) d += `, wearing ${c.wardrobeDesc}`;\n      else if (c.wardrobeMode === 'keep') d += ', wearing the same outfit as in reference';\n      return d;\n    }).join(' and ');\n    parts.push(`Characters: ${charDesc}`);\n  }\n  \n  // Локация\n  if (location.description) parts.push(`Setting: ${location.description}`);\n  const light = lightMap[location.lighting] || '';\n  const color = colorMap[location.colorScheme] || '';\n  if (light || color) parts.push(`Visual style: ${[light, color].filter(Boolean).join(', ')}`);\n  \n  // Ракурс\n  parts.push(`Camera: ${anglesMap[sc.angle] || 'medium shot'}`);\n  \n  // Доп. указания\n  if (sc.notes) parts.push(sc.notes);\n  \n  // Качество\n  if (data.quality === 'high') parts.push('High quality, cinematic, 1080p, detailed');\n  \n  const prompt = parts.join('. ');\n  \n  // Image reference — берём фото первого персонажа в сцене\n  const mainChar = sceneChars[0];\n  const imageUrl = mainChar?.faceUrl || '';\n  const videoUrl = mainChar?.videoUrl || '';\n  \n  return {\n    json: {\n      _sceneIndex: i,\n      _totalScenes: scenes.length,\n      model: data.videoModel,\n      prompt: prompt,\n      duration: sc.duration || 10,\n      aspect_ratio: data.aspectRatio,\n      quality: data.quality,\n      image_url: imageUrl,\n      video_url: videoUrl,\n      apiKey: data.apiKey,\n      supabaseUrl: data.supabaseUrl,\n      _parentData: {\n        ttsResults: data.ttsResults,\n        characters: data.characters,\n        scenes: data.scenes,\n        useRefAsScene0: data.useRefAsScene0,\n        music: data.music,\n        minimaxKey: data.minimaxKey,\n        apiKey: data.apiKey,\n        supabaseUrl: data.supabaseUrl\n      }\n    }\n  };\n});"
      },
      "id": "node-10",
      "name": "10. Подготовка видеозапросов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiin.one/api/v1/video/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model || 'seedance-2.0', prompt: $json.prompt, duration: $json.duration, aspect_ratio: $json.aspect_ratio, image: $json.image_url || undefined, sound: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-11",
      "name": "11. Видеогенерация — API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Polling статуса видео задачи.\n  Ожидаем завершения генерации.\n*/\nconst item = $input.first().json;\nconst taskId = item?.data?.task_id || item?.id || item?.task_id || '';\nconst apiKey = item?.apiKey || $('10. Подготовка видеозапросов').first().json.apiKey;\n\nif (!taskId) {\n  return [{ json: { error: 'No task_id received', raw: item } }];\n}\n\nconst maxAttempts = 60;\nconst interval = 10000; // 10 сек\n\nfor (let attempt = 0; attempt < maxAttempts; attempt++) {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://apiin.one/api/v1/tasks/${taskId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` }\n  });\n  \n  const status = resp?.data?.status || resp?.status || '';\n  \n  if (['COMPLETED','completed','SUCCESS','success'].includes(status)) {\n    const videoUrl = resp?.data?.output?.video_url || resp?.data?.video_url || resp?.output?.video_url || '';\n    return [{ json: { taskId, status: 'completed', videoUrl, raw: resp } }];\n  }\n  \n  if (['FAILED','failed','ERROR','error'].includes(status)) {\n    return [{ json: { taskId, status: 'failed', error: resp?.data?.error || 'Generation failed', raw: resp } }];\n  }\n  \n  // Ждём\n  await new Promise(r => setTimeout(r, interval));\n}\n\nreturn [{ json: { taskId, status: 'timeout', error: 'Polling timeout after 10 minutes' } }];"
      },
      "id": "node-12",
      "name": "12. Polling видео",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Собираем все результаты видео и TTS.\n  Скачиваем файлы на сервер для FFmpeg склейки.\n*/\nconst items = $input.all();\nconst parentData = $('10. Подготовка видеозапросов').first().json._parentData;\n\n// Собираем URL видео по сценам\nconst videoResults = items.map((item, i) => ({\n  sceneIndex: i,\n  videoUrl: item.json?.videoUrl || '',\n  status: item.json?.status || 'unknown'\n}));\n\n// TTS результаты\nconst ttsResults = parentData.ttsResults || [];\n\n// Формируем команды для скачивания\nconst downloadCmds = [];\nconst videoFiles = [];\nconst audioFiles = [];\n\n// Создаём рабочую директорию\nconst workDir = `/tmp/avd_${Date.now()}`;\ndownloadCmds.push(`mkdir -p ${workDir}`);\n\n// Скачиваем референсное видео (сцена 0), если нужно\nif (parentData.useRefAsScene0) {\n  const mainChar = parentData.characters?.[0];\n  if (mainChar?.videoUrl) {\n    const refPath = `${workDir}/scene_ref.mp4`;\n    downloadCmds.push(`curl -sL \"${mainChar.videoUrl}\" -o ${refPath}`);\n    videoFiles.push(refPath);\n  }\n}\n\n// Скачиваем сгенерированные видео\nvideoResults.forEach((vr, i) => {\n  if (vr.videoUrl) {\n    const path = `${workDir}/scene_${i}.mp4`;\n    downloadCmds.push(`curl -sL \"${vr.videoUrl}\" -o ${path}`);\n    videoFiles.push(path);\n  }\n});\n\n// Скачиваем аудио\nttsResults.forEach((tr, i) => {\n  if (tr.audioUrl) {\n    const path = `${workDir}/audio_${i}.mp3`;\n    downloadCmds.push(`curl -sL \"${tr.audioUrl}\" -o ${path}`);\n    audioFiles.push(path);\n  }\n});\n\nreturn [{\n  json: {\n    workDir,\n    downloadCmds,\n    videoFiles,\n    audioFiles,\n    videoResults,\n    ttsResults,\n    supabaseUrl: parentData.supabaseUrl,\n    parentData\n  }\n}];"
      },
      "id": "node-13",
      "name": "13. Сборка результатов",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 460]
    },
    {
      "parameters": {
        "command": "={{ $json.downloadCmds.join(' && ') }}"
      },
      "id": "node-14",
      "name": "14. Скачивание файлов",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2860, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Формируем команду FFmpeg для склейки видео и наложения аудио.\n*/\nconst prev = $('13. Сборка результатов').first().json;\nconst workDir = prev.workDir;\nconst videoFiles = prev.videoFiles;\nconst audioFiles = prev.audioFiles;\n\nif (videoFiles.length === 0) {\n  return [{ json: { error: 'No video files to merge', workDir } }];\n}\n\nlet ffmpegCmd = '';\nconst outputVideo = `${workDir}/merged.mp4`;\nconst outputFinal = `${workDir}/final.mp4`;\n\n// Шаг 1: Склейка видео\nif (videoFiles.length === 1) {\n  ffmpegCmd = `cp ${videoFiles[0]} ${outputVideo}`;\n} else {\n  // Создаём concat файл\n  const concatList = videoFiles.map(f => `file '${f}'`).join('\\n');\n  ffmpegCmd = `echo \"${concatList}\" > ${workDir}/concat.txt && `;\n  // Ренормализация + склейка\n  const filterParts = videoFiles.map((f, i) => \n    `[${i}:v]scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30[v${i}]`\n  ).join('; ');\n  const concatInputs = videoFiles.map((f, i) => `-i ${f}`).join(' ');\n  const concatStreams = videoFiles.map((_, i) => `[v${i}]`).join('');\n  \n  ffmpegCmd += `ffmpeg -y ${concatInputs} -filter_complex \"${filterParts}; ${concatStreams}concat=n=${videoFiles.length}:v=1:a=0[outv]\" -map \"[outv]\" -c:v libx264 -preset fast -crf 23 ${outputVideo}`;\n}\n\n// Шаг 2: Наложение аудио\nlet finalCmd = ffmpegCmd;\nif (audioFiles.length > 0) {\n  // Склеиваем все аудио в один файл\n  const mergedAudio = `${workDir}/merged_audio.mp3`;\n  if (audioFiles.length === 1) {\n    finalCmd += ` && cp ${audioFiles[0]} ${mergedAudio}`;\n  } else {\n    const audioInputs = audioFiles.map(f => `-i ${f}`).join(' ');\n    const audioConcat = audioFiles.map((_, i) => `[${i}:a]`).join('');\n    finalCmd += ` && ffmpeg -y ${audioInputs} -filter_complex \"${audioConcat}concat=n=${audioFiles.length}:v=0:a=1[outa]\" -map \"[outa]\" ${mergedAudio}`;\n  }\n  \n  // Наложение аудио на видео (аудио обрезается по длине видео)\n  finalCmd += ` && ffmpeg -y -i ${outputVideo} -i ${mergedAudio} -c:v copy -c:a aac -shortest ${outputFinal}`;\n} else {\n  finalCmd += ` && cp ${outputVideo} ${outputFinal}`;\n}\n\nreturn [{\n  json: {\n    ffmpegCmd: finalCmd,\n    outputFinal,\n    workDir,\n    supabaseUrl: prev.supabaseUrl,\n    parentData: prev.parentData\n  }\n}];"
      },
      "id": "node-15",
      "name": "15. FFmpeg команда",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 460]
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpegCmd }}"
      },
      "id": "node-16",
      "name": "16. FFmpeg склейка",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3300, 460]
    },
    {
      "parameters": {
        "jsCode": "/*\n  Загружаем финальное видео в Supabase Storage.\n*/\nconst prev = $('15. FFmpeg команда').first().json;\nconst workDir = prev.workDir;\nconst outputFinal = prev.outputFinal;\nconst supaUrl = prev.supabaseUrl;\nconst sKey = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nconst fs = require('fs');\n\n// Читаем файл\nlet fileBuffer;\ntry {\n  fileBuffer = fs.readFileSync(outputFinal);\n} catch(e) {\n  // Если final не существует, пробуем merged\n  try {\n    fileBuffer = fs.readFileSync(`${workDir}/merged.mp4`);\n  } catch(e2) {\n    return [{ json: { error: 'No output video file found', workDir } }];\n  }\n}\n\nconst fileName = `result_${Date.now()}.mp4`;\nconst path = `results/${fileName}`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${supaUrl}/storage/v1/object/avd-files/${path}`,\n    headers: {\n      'Authorization': `Bearer ${sKey}`,\n      'apikey': sKey,\n      'Content-Type': 'video/mp4'\n    },\n    body: fileBuffer,\n    returnFullResponse: false\n  });\n} catch(e) {\n  return [{ json: { error: 'Upload failed: ' + e.message } }];\n}\n\nconst publicUrl = `${supaUrl}/storage/v1/object/public/avd-files/${path}`;\n\n// Очистка tmp\ntry {\n  fs.rmSync(workDir, { recursive: true, force: true });\n} catch(e) {}\n\nreturn [{\n  json: {\n    success: true,\n    videoUrl: publicUrl,\n    fileName: fileName,\n    message: 'Video generation completed successfully!'\n  }\n}];"
      },
      "id": "node-17",
      "name": "17. Загрузка в Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 460]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-18",
      "name": "18. Ответ webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3740, 460]
    }
  ],
  "connections": {
    "1. Webhook": {
      "main": [
        [{ "node": "2. Парсинг данных", "type": "main", "index": 0 }]
      ]
    },
    "2. Парсинг данных": {
      "main": [
        [{ "node": "3. Загрузка файлов в Supabase", "type": "main", "index": 0 }]
      ]
    },
    "3. Загрузка файлов в Supabase": {
      "main": [
        [{ "node": "4. Split диалогов", "type": "main", "index": 0 }]
      ]
    },
    "4. Split диалогов": {
      "main": [
        [{ "node": "5. Есть диалоги?", "type": "main", "index": 0 }]
      ]
    },
    "5. Есть диалоги?": {
      "main": [
        [{ "node": "6. TTS — MiniMax", "type": "main", "index": 0 }],
        [{ "node": "8. Пропуск TTS", "type": "main", "index": 0 }]
      ]
    },
    "6. TTS — MiniMax": {
      "main": [
        [{ "node": "7. Сборка TTS результатов", "type": "main", "index": 0 }]
      ]
    },
    "7. Сборка TTS результатов": {
      "main": [
        [{ "node": "9. Merge TTS", "type": "main", "index": 0 }]
      ]
    },
    "8. Пропуск TTS": {
      "main": [
        [{ "node": "9. Merge TTS", "type": "main", "index": 1 }]
      ]
    },
    "9. Merge TTS": {
      "main": [
        [{ "node": "10. Подготовка видеозапросов", "type": "main", "index": 0 }]
      ]
    },
    "10. Подготовка видеозапросов": {
      "main": [
        [{ "node": "11. Видеогенерация — API", "type": "main", "index": 0 }]
      ]
    },
    "11. Видеогенерация — API": {
      "main": [
        [{ "node": "12. Polling видео", "type": "main", "index": 0 }]
      ]
    },
    "12. Polling видео": {
      "main": [
        [{ "node": "13. Сборка результатов", "type": "main", "index": 0 }]
      ]
    },
    "13. Сборка результатов": {
      "main": [
        [{ "node": "14. Скачивание файлов", "type": "main", "index": 0 }]
      ]
    },
    "14. Скачивание файлов": {
      "main": [
        [{ "node": "15. FFmpeg команда", "type": "main", "index": 0 }]
      ]
    },
    "15. FFmpeg команда": {
      "main": [
        [{ "node": "16. FFmpeg склейка", "type": "main", "index": 0 }]
      ]
    },
    "16. FFmpeg склейка": {
      "main": [
        [{ "node": "17. Загрузка в Supabase", "type": "main", "index": 0 }]
      ]
    },
    "17. Загрузка в Supabase": {
      "main": [
        [{ "node": "18. Ответ webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T12:00:00.000Z",
  "versionId": "v2"
}
